.form{
 display: none;
   &__wrapper{
    color: var(--color-neutral-dark);
    border-top: 2px solid var(--color-neutral-light);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding:1.5rem;

    @include break-up(992px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   }

   

    &__label{
        display: block;
        text-align: center;
        margin-bottom: .8rem;

        @include break-up(992px){
            display: inline;
            margin-bottom: 0;
        }
    }

    &__text-input{
        position     : relative;
       input{
        padding      : 1rem 1.4rem 1rem 2.3rem;
        width: 2.3rem;
        border-radius: 3.125rem;
        border: 1px solid var(--color-neutral-light);
        font-size    : 1rem;
        font-weight: 700;
        outline: 0;
        

        &:hover{
            border-color: var(--color-primary-moderate);
        }

        &:focus{
            color: var(--color-primary-moderate);
            border-color: var(--color-primary-moderate);

        }
       }
    }

    &__btn{ 
        margin-left: .625rem;
        margin-right: .625rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.form__text-input::after{
    content: "$";
    position: absolute;
    left:1.4rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
} 