.modal{
    display: none;
    position: absolute;
    top          : 5.3rem;
    left         : 1.1875rem;
    right        : 1.1875rem;
    z-index:4 ;

    @include break-up(992px){
        top          : 11.5rem;
    left         : 3rem; 
    right        : 3rem;
    }

    &__close-icon{
        cursor: pointer;
    }
}